/* add css module styles here (optional) */


button.btn{
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;    
}
button.primaryButton {
  border: 0px;
  background: #3498db;
  color: #ffffff;
  
}
button.defaultButton {
  border: 2px solid rgb(157, 157, 163);
}
button.dashedButton {
  border: 2px dotted rgb(157, 157, 163);
}
button.textButton {
  border: 0px rgb(157, 157, 163);
}
button.linkButton {
  border: 0px rgb(157, 157, 163);
  color: blue;
}
button:hover {
  opacity: 0.9;
}